h1{
    margin: 0 0 30px;
    font-size: 30px;
    cursor: default;
}
blockquote{

}
.line-numbers-wrapper{
    position: absolute;
    top: 0;
    width: 3.5rem;
    text-align: center;
    color: hsla(0,0%,100%,.3);
    padding: 1.25rem 0;
    line-height: 1.4;
}
.line-numbers-mode{
    position: relative;
    background-color: #282c34;
    border-radius: 6px;
}