{
  "presets": [
    [
      "@babel/env",
      {
        "modules": false,
        // "useBuiltIns": "usage"
        "targets": {
          "browsers": ["> 0.25%", "last 2 versions", "not ie <= 8"]
        }
      }
    ],
    ["@babel/preset-typescript"]
  ],
  "plugins": [
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    "transform-vue-jsx",
    // "@vue/babel-plugin-transform-vue-jsx",
    "@babel/proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread"
  ]
}
