@height: 44px;
.z-tabs-box {
  display: flex;
  flex-direction: column;

  &.z-tabs-box-center {
    .z-tabs-header {
      justify-content: center;
    }
  }
  .z-tabs-header {
    display: flex;
    height: @height;
    position: relative;
    border-bottom: 1px solid @gray-3;
    .z-tabs-header-item {
      line-height: @height;
      cursor: pointer;
      padding: @padding-base @padding-base*2;
      transition: color @animation-duration-base;
      &.active {
        color: @blue-main;
      }
    }
    .z-tabs-active-line {
      position: absolute;
      height: 2px;
      min-width: 10px;
      bottom: -1px;
      transition: all @animation-duration-base;
      background: @blue-main;
    }
  }
  .z-tabs-item-body {
  }
}
